@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;

}

* {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

main {
  height: 80vh;
}




/*CSS LOGIN */

/*FIM CSS LOGIN */







/*CSS MENU */

.container {
  max-width: 1200px;
  margin: auto;
  color: rgba(0, 0, 0, 0.527);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
}

header {
  width: 100%;
  padding: 20px 15px;
  transition: .9s;
  background-color: #7639d7bf;
}

header.rolagem {
  background-color: #fff;
  padding: 5px 1%;
}

header.rolagem a {
  color: black
}



/*
header i {
  font-size: 30px;
  color: #fff
}
*/

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  text-decoration: none;
  border: none;
  font-size: 25px;
  color: #fff;
  padding: 11px 11px;

  font-family: 'Arial', sans-serif;

  font-weight: 900;
  margin: 9px;
  cursor: pointer;
  transition: all 0.3s ease;


}

header ul li a:hover {
  background: #BEB8FF;
}

.btn-contato button {
  text-decoration: none;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #9260FD;
  border-radius: 6px;
  margin: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-contato button:hover {
  background: e#a54bff;
}


/*FIM CSS MENU */


/*CSS GALERIA */
header2 {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header2 h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}

.gallery-items {
  width: 350px;
  height: 470px;
  border: 27px solid #fff;
  box-shadow: 7px 7px 7px rgba(140, 0, 255, 0.4);
  flex-grow: 1;
  background-color: #fff;
}

.gallery-items img {
  width: 100%;
  height: 85%;
  object-fit: cover;


}

.gallery-items:hover {
  transform: scale(1.02);

}

/*FIM CSS GALERIA */


/*CSS VIDEOS  */

.container2 {
  position: relative;
  min-height: 100vh;

}

.container2 h1 {
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 90px;
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.container2 .video-container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  justify-content: center;
  padding: 10px;

}

.container2 .video-container2 .video {
  height: 350px;
  width: 550px;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
  cursor: pointer;
  overflow: hidden;
}

.container2 .video-container2 .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;

}

.container2 .video-container2 .video:hover video {
  transform: scale(1.1);
}

.container2 .popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  display: none;

}

.container2 .popup-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
}

.container2 .popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container .popup-video video {
    width: 95%;
  }
}


/*FIM CSS VIDEOS  */



/*CSS LOGO  */
.logo {
  text-align: center;
  padding: 0px 0;
  background-color: #9260fd93;
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 90%;
  height: auto;
}


/*FIMCSS LOGO  */


/*CSS ALUNOS  */

.slide-container {
  max-width: 1120px;
  width: 100%;

  padding: 10px 0;
  border-radius: 15px;
}

.slide-content {
  margin: 0 50px;


  overflow: hidden;
  border-radius: 25px;
}

.card {
  width: 320px;
  border-radius: 24px;
  background-color: #7f37c9;

}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 0 0;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  height: 124%;
  width: 100%;
  background-color: rgb(62, 0, 98);
  border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 20px;
  background-color: rgb(62, 0, 98);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #7f37c9;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #4070F4;
}

.name {
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
}

.description {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.button {
  border: none;
  font-size: 22px;
  color: #fff;
  padding: 10px 16px;
  background-color: rgb(48, 0, 76);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #ba74ff;
}

.swiper-navBtn {
  color: rgb(136, 0, 255);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: rgb(76, 0, 255);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 70px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination.bullet {
  background-color: rgb(136, 0, 255);
  opacity: 1;
}

.swiper-pagination.bullet-active {
  background-color: #7f37c9;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

/*FIM CSS ALUNOS  */



/*CSS do A  */


/*CSS do A  */

/*CSS FOOTER */

main {
  height: 80vh;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}


/*FIM CSS FOOTER */